body{
    font-family:"Verdana", "Times New Roman";
    background: #000;
    color: #FFFFFF;
    /* top, right, bottom, left */
    margin: 25px 25px 0 25px;
  
}

h1{
    font-size: 48px;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img{
    width: 350px;
    display: block;
    margin: auto;
    border: 10px dashed #FFFFFF;
}

div{
    padding: 20px;
    min-height: 100px;
    border:3px solid #fff;
}

.intro{
    border-radius: 15px;
    margin-top: 15px;
}

.red{
    background: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 3px;
    border-left: solid 10px;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: solid 10px;
    border-bottom: solid 3px;
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    color: #000;
    margin-left: 50px;
    border-bottom: solid 3px #fff;
    border-left: solid 10px #fff;
}

.yellow h2{
    text-shadow: #c7e2c7 2px 4px 0;
}

.green {
    background-color: #008500; /* or 008500 or 00D800 */
    text-align: left;
    margin-right: 50px;
    border-right: solid 10px;
    border-bottom: solid 3px;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer {
    background: linear-gradient(90deg, 
        #000, 
        #0000ff 25%,
        #0066ff 70%,
        #000);
}

footer p {
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 0;
}